<html>
    <body>
        <h1>Hello!
        {% if username %}
            {{ username }}
        {% endif %}
        </h1>
        {% if not username %}
            <p>to view a users timeline go to /?username=<b>username</b></p>
            <p><a href="/?username=Kyle">example</a></p>
            <p>Posts can be found <a href="/posts">here</a></p>
            <p>Users and there follows can be found <a href="/users">here</a></p>
        {% else %}
            <p>Your tweets:</p>
            <ul>
                <li>first tweet</li>
            </ul>
        {% endif %}
    </body>
</html>