<!DOCTYPE html>
<html>
<head>
</head>
<body>
        <!-- Display post feed with user's name, status and the time-->
        <h1>Posts</h1>
        {% for post in posts %}
        <div>
                <p>Name:  {{post}}</p>
                
                {% for info in posts[post]%}
                        <p>Status: {{info.status}}</p>
                        <p>Time: {{info.time}}</p>
                {% endfor %}
                <hr/>
        </div>
        {% endfor %}        
</body>
</html>